:root {
	
	--mainColor: #bf202f;
	--secondaryColor: #58575a;
	--thirdColor: #a2a2a2;
	
	--mainTextColor: rgba(0, 0, 0, 0.85);
	--secondaryTextColor: rgba(12, 7, 7, 0.7);
	--borderColor: rgba(0, 0, 0, 0.5);
	--secondaryBorderColor: rgba(0, 0, 0, 0.2);
	--backgroundColor: #fff;

	--linkColor: #17a2b8;

	--mainColorAlt: #cc0000;
	--secondaryTextColorAlt: #fff;
	--backgroundColorAlt: rgba(255, 255, 255, 0.5);
	--backgroundColorAlt2: #F8F9FA;
	
	--overlayBgColor:  rgba(3, 3, 14, 0.85);

	/*
	--mainTextColor: #1f1f1f;
	--secondaryTextColor: #58595b;
	*/
}


body {
	font-family: 'Source Sans Pro', sans-serif;
	/*font-family: tcomMed, HelveticaNeueMedium, Helvetica Neue Medium, Arial, sans-serif;*/
	background-color: var(--backgroundColor);
	fill: currentColor;
}